Source: maemo-system-services
Section: admin
Priority: extra
Maintainer: Ivaylo Dimitrov <freemangordon@abv.bg>
Build-Depends: debhelper (>= 12)
Standards-Version: 3.7.3

Package: maemo-system-services-dev
Architecture: any
Description: dh_installxsession tool
 This package contains a dh_installxsession a tool to simplify
 deploying X startup scripts

Package: maemo-system-services
Architecture: any
Depends: sysv-rc | openrc
Description: definitions of essential maemo system services
 This package contains the definitions of services essential for the
 normal operation of a Maemo system.
