#!/usr/bin/make -f
# debian/rules for the maemo-system-services package.
# Author: Scott James Remnant <scott@ubuntu.com>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_OPTIONS

# Install the package underneath debian/tmp
install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Copy across the default jobs
	@set -x; for pkg in maemo-system-services; do \
		for job in debian/init/$$pkg/*; do \
		install -m 644 -o root -g root $$job \
				debian/$$pkg/etc/init || exit 1; \
		done; \
	done
	cp -a debian/session/* debian/maemo-system-services/etc/X11
	cp -a debian/dh/dh_install* debian/maemo-system-services-dev/usr/bin
	cp -a debian/dh/postinst-* debian/maemo-system-services-dev/usr/share/debhelper/autoscripts/

binary: binary-indep binary-arch

# Build architecture-independent files here.
binary-indep:
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: DH_OPTIONS=-a
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


# Clean up the mess we made
clean: clean-source
clean-source:
	dh_testdir
	rm -f build-stamp
	[ ! -f Makefile ] || $(MAKE) clean distclean
	dh_clean 


.PHONY: build install binary-indep binary-arch binary clean clean-source
