#!/usr/bin/make -f
%:
	dh $@

override_dh_installinit:
	dh_installinit --no-start --name=welcome
	dh_installinit --no-start --name=xorg
	dh_installinit --no-start --name=xsession

override_dh_systemd_enable:
	dh_systemd_enable --name gpu
